<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Data Upload</title>
</head>
<body role="document">
    <div th:replace="header"></div>
    <div class="container" style="padding-top: 100px;">

        <form id="upload-file-form" class="form-horizontal">
            <div class="form-group">
                <label for="upload-file-input">* Select data file:</label>
                <input id="upload-file-input" type="file" name="uploadfile" accept="*" />
            </div>
        </form>

        <form id="upload-mapping-form" class="form-horizontal">
            <div class="form-group">
                <label for="upload-mapping-input">Select mapping file:</label>
                <input id="upload-mapping-input" type="file" name="uploadmapping" accept="*" />
            </div>
        </form>

        <button type="button" class="btn btn-primary" id="subtn" onclick="uploadFile()">submit</button>
        <br/><br/><br/>
        <span id="message-board"></span>

    </div>

    <script src="/data-upload.js"></script>
    <div th:replace="footer :: footer"></div>
</body>
</html>

