<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/style-login.css}" rel="stylesheet"/>
    <title>Login</title>
</head>
<body>

<div class="container" style="padding-top: 100px;">

    <div class="container" align="center">
        <div class="row">
            <h1 class="text-center login-title"><bold>Log in OCDU</bold></h1>
            <form th:action="@{/login}" method="post" class="form-signin">
                <div class="form-group">
                    <input type="text" name="username" class="form-control" placeholder="Username"/>
                    <input type="password" name="password" class="form-control" placeholder="Password"/>
                    <input type="text" name="ocEnvironment" class="form-control" value="http://ocdu-openclinica-dev.thehyve.net/OpenClinica-ws"/>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Log in</button>
            </form>
        </div>

    </div>

    <div class="alert alert-info" th:if="${param.logout}">
        You have logged out.
    </div>

    <div class="alert alert-danger" th:if="${param.error}">
        Invalid username and password.
    </div>


</div>

</body>
</html>
