<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Mapping</title>
    <link th:href="@{/css/style-mapping.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-toggle.min.css}" rel="stylesheet" />
</head>
<body role="document">
<div th:replace="header"></div>
<div id="control-container" class="container" style="margin-top: 60px;">
    <button id="expand-all-btn" type="button" class="btn btn-success">Expand All</button>
    <button id="collapse-all-btn" type="button" class="btn btn-success">Collapse All</button>
    <button id="reset-btn" type="button" class="btn btn-success">Reset</button>
    <span role="separator" class="divider"> . </span>

    <button id="auto-map-btn" type="button" class="btn btn-success">Apply Mapping File</button>
    <button id="clear-map-btn" type="button" class="btn btn-success">Clear</button>
    <button id="download-map-btn" type="button" class="btn btn-success">Export Current Mapping</button>
    <span role="separator" class="divider"> . </span>
    <button id="map-back-btn" type="button" class="btn btn-primary">Back</button>
    <button id="map-proceed-btn" type="button" class="btn btn-primary">Next</button>
    <span id="empty_space"> </span>
</div>
<div id="tree-container" style="margin-top: 5px;">
</div>

<script th:src="@{/js/jszip.min.js}"></script>
<script th:src="@{/js/filesaver.js}"></script>
<script th:src="@{/js/bootstrap-toggle.min.js}"></script>
<script th:src="@{/data-mapping.js}"></script>
<div th:replace="footer :: footer"></div>
</body>
</html>

