<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Mapping</title>
</head>
<body role="document">
<div th:replace="header"></div>
<link th:href="@{/css/style-mapping.css}" rel="stylesheet"/>

<div id="control-container" class="container" style="margin-top: 60px;">

    <button id="apply-map-btn" type="button" class="btn btn-success">Apply the mapping file</button>
    <button id="auto-map-btn" type="button" class="btn btn-success">Match item names</button>
    <button id="clear-map-btn" type="button" class="btn btn-success">Clear mapping</button>
    <button id="export-map-btn" type="button" class="btn btn-success">Export mapping</button>
    <span role="separator" class="divider"> . </span>
    <button id="map-back-btn" type="button" class="btn btn-primary">Back</button>
    <button id="map-proceed-btn" type="button" class="btn btn-primary">Next</button>
    <span id="empty_space"> </span>
</div>

<div id="mapping-area" class="container all-col" style="margin-top: 20px;">
    <div class="container" id="path-area"></div>

    <div class="container" style="width: 100%" id="col-heading-area">
        <div class="left-col-heading"> <input class="form-control oc-filter" type="text" placeholder="filter OpenClinica Items" id="oc-filter-input">  &#8595; (drop)</div>
        <div class="right-col-heading"> &#8592; (drag) <input class="form-control usr-filter" type="text" placeholder="filter User Items" id="usr-filter-input"></div>
    </div>

    <div class="left-col" id="left-col-area" >
        <div class="oc-label-col" id="oc-label-col-area"></div>
        <div class="oc-col" id="oc-col-area" ></div>
    </div>

    <div class="right-col" id="right-col-area" ></div>

</div>

<script th:src="@{/js/jquery-ui.min.js}"></script>
<script th:src="@{/data-mapping.js}"></script>
<div th:replace="footer :: footer"></div>
</body>
</html>

