<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Mapping</title>
    <link th:href="@{/css/style-mapping.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-toggle.min.css}" rel="stylesheet" />
</head>
<body role="document">
<div th:replace="header"></div>
<div id="control-container" class="container" style="margin-top: 60px;">
    <input id="tree-toggle" type="checkbox" checked data-toggle="toggle" data-on="Tree View" data-off="Plain View"/>
    <button id="auto-map-btn" type="button" class="btn btn-primary">Auto Mapping</button>
    <button id="clear-map-btn" type="button" class="btn btn-primary">Clear</button>
    <button id="download-map-btn" type="button" class="btn btn-primary">Export Mapping</button>
    <button id="map-proceed-btn" type="button" class="btn btn-primary">Next</button>
    <span id="empty_space"> </span>
</div>
<div id="tree-container" style="margin-top: 5px;">
</div>

<script th:src="@{/js/jszip.min.js}"></script>
<script th:src="@{/js/filesaver.js}"></script>
<script th:src="@{/js/bootstrap-toggle.min.js}"></script>
<script th:src="@{/data-mapping.js}"></script>
<div th:replace="footer :: footer"></div>
</body>
</html>

