<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Upload data to OpenClinica</title>
</head>
<body>
    <div th:replace="header">Upload data to OpenClinica</div>
    <div id="odm-upload-container" class="container ocdu-container">
        <div id="odm-upload-div" class="jumbotron container-fluid">

            <hr>
            <button type="button" class="btn btn-primary" id="odm-upload-back-btn" onclick="odmUploadBackBtnHandler()">Back</button>
            <button type="button" class="btn btn-primary" id="odm-upload-proceed-btn" onclick="odmUploadNextBtnHandler()">Upload</button>
            <br><br><br>

        </div>
    </div>
    <script th:src="@{/odm-upload.js}"></script>
    <div th:replace="footer :: footer"></div>
</body>
</html>
