<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Upload data to OpenClinica</title>
</head>
<body>
<div th:replace="header">Upload data to OpenClinica</div>
<div id="odm-upload-container" class="container ocdu-container">
    <div>
        <b>Warning: you have reached the point of no return. One you press 'Next' data will uploaded to OpenClinica</b>
    </div>
</div>
<div id="odm-upload-div" class="jumbotron container-fluid">
</div>


<script th:src="@{/odm-upload.js}"></script>
<div th:replace="footer :: footer"></div>
</body>
</html>